{% load static %}
<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{% block title %}UP-FMS{% endblock %}</title>
    <meta name="color-scheme" content="light dark" />

    <!-- Favicon -->
    <link
      rel="icon"
      href="{% static 'img/Logo_of_University_of_Phayao.svg.png' %}"
      type="image/png"
    />

    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %} {% block extra_js %}{% endblock %}
  </body>
</html>
