{% load static %}
<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}UP-FMS{% endblock %}</title>

    <!-- CSS พื้นฐานที่ใช้ทุกหน้า -->
    <link rel="stylesheet" href="{% static 'assets/css/tokens.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}" />

    {% block extra_css %}{% endblock %} {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% include "partials/_header.html" %}

    <main class="container">{% block content %}{% endblock %}</main>

    {% include "partials/_footer.html" %} {% block extra_js %}{% endblock %}
  </body>
</html>
